.icon {
  display: inline-flex;
  flex: none;
  color: var(--color-resource);
}
.folder {
  color: var(--color-group);
}
.menu {
  width: 16px;
  height: 16px;
}
.list {
  width: 22px;
  height: 22px;
}
